
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Record Keeping</title>
  <style type="text/css">


    .wrapper{
      width: 100%;
      height: 100%; 
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Record Keeping App</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="javascript:{document.getElementById('logout').submit()}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          <form id="logout" action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden">
          </form>
          {% else %}
          <li><a href="{% url 'signup'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <br>
    {% block content %}

    {% endblock %}
    <br>

    <!-- Footer -->
    <footer class="page-footer font-small blue navbar-fixed-bottom">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> recordKeeping.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>
</body>
</html>